name: Build Forge Mod

on:
  workflow_dispatch:      # ← кнопка "Run workflow"
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build mod
        run: ./gradlew build reobfJar

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Forge-Mod
          path: build/libs/*.jar
